@using FeedbackToolDissertation.Data
@using FeedbackToolDissertation.Data.FeedbackToolDissertation
@inject ModuleService ModuleService
@page "/Grading"

<h3>Grading</h3>

<div class="fileinsert"
<InputFile OnChange="@LoadFiles" />
</div>
<br />
<form method="post">
    <label> Student </label>
    <input type="text" id="snumber" placeholder="Student Number" name="snumber">
    <br />
    <label> Module</label>
    <select id="module" name="module">
        @if (moduleList == null)
        {
            <p><em>Loading....</em></p>
        }
        else
        {
            @foreach (var module in moduleList)
            {
                <option value="@module.ModuleName">@module.ModuleName</option>
            }

        }
    </select>

    <br />
    <br />
    <br />

    <h3> Feedback </h3>
    <input type="text" id="snumber" placeholder="Section 1 Title" name="snumber">
    <br />
    <select id="feedback" name="feedback">
        @if (moduleList == null)
        {
            <p><em>Loading....</em></p>
        }
        else
        {
            
        }
    </select>
    <button type="submit" class="btn btn-primary">Add Feedback</button>
    <br />
    <br />

    <input type="text" id="snumber" placeholder="Section 2 Title" name="snumber">
    <br />
    <select id="feedback" name="feedback">
        @if (moduleList == null)
        {
            <p><em>Loading....</em></p>
        }
        else
        {
        }
    </select>
    <button type="submit" class="btn btn-primary">Add Feedback</button>

    <br />
    <br />

    <input type="text" id="snumber" placeholder="Section 3 Title" name="snumber">
    <br />
    <select id="feedback" name="feedback">
        @if (moduleList == null)
        {
            <p><em>Loading....</em></p>
        }
        else
        {
            
        }
    </select>
    <button type="submit" class="btn btn-primary">Add Feedback</button>


    <br />
    <br />
    <button type="submit" class="btn btn-primary">Export</button>

</form>






@code {
    private void LoadFiles(InputFileChangeEventArgs e)
    {

    }
}



@code {
    // AuthenticationState is available as a CascadingParameter
    [CascadingParameter]

    Task<AuthenticationState> authenticationStateTask { get; set; }

    List<Modules> moduleList;

    protected
    override
    async Task OnInitializedAsync()
    {

        // Get the current user
        var user = (await authenticationStateTask).User;
        moduleList = await ModuleService.GetModulesAsync(user.Identity.Name);
    }

}

