@using FeedbackToolDissertation.Data
@using FeedbackToolDissertation.Data.FeedbackToolDissertation
@inject ModuleService ModuleService
@page "/Grading"

<h3>Grading</h3>


<InputFile OnChange="@LoadFiles" />
  <input type="text" id="snumber" placeholder="Student Number" name="snumber"><br><br>



@code {
    private void LoadFiles(InputFileChangeEventArgs e)
    {

    }
}



@code {
  // AuthenticationState is available as a CascadingParameter
  [CascadingParameter]

   Task < AuthenticationState > authenticationStateTask {get; set; }

  List <Modules> moduleList;

  protected
  override
  async Task OnInitializedAsync()
  {

    // Get the current user
    var user = (await authenticationStateTask).User;
    moduleList = await ModuleService.GetModulesAsync(user.Identity.Name);
  }

}

