@using FeedbackToolDissertation.Data
@using FeedbackToolDissertation.Data.FeedbackToolDissertation
@inject ModuleService ModuleService

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">FeeDBack</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>


<AuthorizeView>
<Authorized>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Grading" Match="NavLinkMatch.All">
                <span class="oi oi-pencil" aria-hidden="true"></span> Grading
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Identity/Account/LogOut" Match="NavLinkMatch.All">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Log Out
            </NavLink>
        </li>
</Authorized>
<NotAuthorized>
            <li class="nav-item px-3">
            <NavLink class="nav-link" href="Identity/Account/Login" Match="NavLinkMatch.All">
                <span class="oi oi-account-login" aria-hidden="true"></span> Log In
            </NavLink>
        </li>
                    <li class="nav-item px-3">
            <NavLink class="nav-link" href="Identity/Account/Register" Match="NavLinkMatch.All">
                <span class="oi oi-account-login" aria-hidden="true"></span> Register
            </NavLink>
        </li>
</NotAuthorized>
</AuthorizeView>
</ul>    
</div>

}

	@code {
    private bool collapseNavMenu;


  private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;

    }



  // AuthenticationState is available as a CascadingParameter
  [CascadingParameter]

   Task < AuthenticationState > authenticationStateTask {get; set; }

  List <Modules> moduleList;

  protected
  override
  async Task OnInitializedAsync()
  {

    // Get the current user
    var user = (await authenticationStateTask).User;
    moduleList = await ModuleService.GetModulesAsync(user.Identity.Name);
  }

}

